<div class="container-fluid col-lg-12 col-md-12 col-sm-6 about-me" style="color:#151821;">
    <div style="width:100%;">
        <div style="float: right; ">
            <h2> About Me</h2>
            <p style="width: 560px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nobis veniam maxime voluptate! Consectetur
                doloremque veritatis nam autem neque blanditiis earum illum alias qui veniam voluptatem eligendi aliquid
                asperiores consequatur aspernatur, molestiae nobis praesentium illo, iure magnam? Itaque nobis temporibus
                porro tempora necessitatibus eius assumenda excepturi tempore, recusandae et exercitationem?</p>
        </div>
    </div>
    <div style="display: flex;flex-direction: column;">
        <h2>Technologies</h2>
        <div style="display: flex; justify-content: space-around; width: 40%;">
            <div>
                <ul>
                    <li>Python</li>
                    <li>Django</li>
                    <li>Flask</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>JavaScript</li>
                    <li>Angular</li>
                    <li>TypeScript</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Django REST</li>
                    <li>PostgreSQL</li>
                    <li>Postman</li>
                </ul>
            </div>
        </div>
    </div>
</div>