<div  class="portfolio container-fluid col-lg-12 col-md-12 col-sm-6"
    style=" background-color: #181C26; height: 800px; display: grid;">
    <div class="grid-container">
        <div class="one" style="">
            <a href="http://" target="_blank" rel="noopener noreferrer"><img
                    src="../../assets/pexels-tom-balabaud-1579708.jpg" alt="" width="194" height="306"></a>
        </div>
        <div class="two" style="">
            <a href="http://" target="_blank" rel="noopener noreferrer"><img
                    src="../../assets/pexels-krivec-ales-552784.jpg" alt="" width="450" height="206"></a>
        </div>
    </div>
    <div class="grid-containeer ">
        <div class="three" style=" white;">
            <a href="http://" target="_blank" rel="noopener noreferrer"><img
                    src="../../assets/pexels-lukas-574070.jpg" alt="" width="430" height=""></a>
        </div>
        <div class="four" style="margin-top: -60px;">
            <a href="http://" target="_blank" rel="noopener noreferrer"><img
                    src="../../assets/pexels-shvets-production-7565553.jpg" alt="" width="243" height="364"></a>
        </div>
    </div>
</div>