/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'AbrilFatface-Regular';
    src: url('./assets/AbrilFatface-Regular.ttf');
  }

  @font-face {
    font-family: 'Abel-Regular';
    src: url('./assets/Abel-Regular.ttf');
  }
*{
  color: antiquewhite;
}

h1, h2{
  color: #F5C577;
  font-family: 'AbrilFatface-Regular';
}
p, li{
  font-family: 'Abel-Regular';
}
li{
  list-style: none;
  line-height:50px
}